<form id="resource_search_form">
  <h2>I'm Looking For...</h2>
  <p>Role</p>
  <select id="role_selection" name="role_selection">
    <option value="">Any</option>
    <option value="Engr">Engineer</option>
    <option value="UX">UX</option>
    <option value="PM">Project Manager</option>
  </select>
  <p>Experience Level</p>
  <select id="experience_selection" name="experience_selection">
    <option value="">Any</option>
    <option value="Junior">Junior</option>
    <option value="Mid">Mid</option>
    <option value="Senior">Senior</option>
  </select>
  <p>Location</p>
  <select id="location_selection" name="location_selection">
    <option value="">Any</option>
    <option value="IL">Illinois</option>
    <option value="AZ">Arizona</option>
    <option value="TX">Texas</option>
  </select>
  <p>Gender</p>
  <select id="gender_selection" name="gender_selection">
    <option value="">Any</option>
    <option value="F">Female</option>
    <option value="M">Male</option>
  </select>
  <p>Contractor</p>
  <select id="contractor_selection" name="contractor_selection">
    <option value="">Any</option>
    <option value="true">Only Contractor</option>
    <option value="false">Only Non-Contractors</option>
  </select>
  <p>Person of Color</p>
  <input id="poc_selection" name="poc_selection" type="checkbox" value="1">
  <input type="submit" value="Submit" id="submit">
</form>
