ul{
  list-style: none;
}

.resource_listing{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: palegoldenrod;
  border-radius: 25px;
  padding: 2% 10%;
  text-align: center;
}
.resource_name{
  grid-column-start: 1;
  grid-column-end: 3;
}
