ul{
  list-style: none;
}

.resource_listing{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: palegoldenrod;
  border-radius: 25px;
  padding: 2% 10%;
}
.resource_name{
  grid-column-start: 1;
  grid-column-end: 5;
}
.skills{
  display: inline-flex;
  justify-items: left;
  grid-column-start: 2;
  grid-column-end: 5;
}
.skill{
  margin-right: 10%;
}
